@page "/"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using InventoryControl.Client.Services
@using InventoryControl.Shared.RequestFeatures
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager

@if (user != null)
{
    <h1>Hello, @user.UserName</h1>

    <p>Welcome to Child Lay Inventory.</p>

}
else
{
    <p>Loading...</p>
}
@code {
    private User user;

    protected override async Task OnInitializedAsync()
    {
        user = await LocalStorageService.GetItem<User>("user");

        if (user == null)
            NavigationManager.NavigateTo("Login");
}
}