@page "/Warehouse/Add"
@page "/Warehouse/Edit/{id:int}"
@using InventoryControl.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Warehouse Entry</h3>


@if (warehouse == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="warehouse" OnValidSubmit="Create" class="card card-body bg-light mt-5">
        <DataAnnotationsValidator />

        <div class="col-12 row mt-2">
            <label for="Code" class="col-md-2 col-form-label">Code:</label>
            <div >
                <InputText id="Code" class="form-control" @bind-Value="warehouse.Code" />
                <ValidationMessage For="@(()=> warehouse.Code)" />
            </div>
        </div>
        <div class="col-12 row mt-2">
            <label for="Name" class="col-md-2 col-form-label">Name:</label>
            <div>
                <InputText id="Name" class="form-control" @bind-Value="warehouse.Name" />
                <ValidationMessage For="@(()=> warehouse.Name)" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-secondary" @onclick="@Back">Cancel</button>
            </div>
        </div>
    </EditForm>
}
<br />


@code {

    [Parameter]
    public int id { get; set; }

    private WarehouseInfo warehouse;

    protected override async Task OnInitializedAsync()
    {
        warehouse = new WarehouseInfo();

        if (id > 0)
        {
            warehouse = await Http.GetFromJsonAsync<WarehouseInfo>($"api/warehouse/getbyid/{id}");
        }
    }

    void Back()
    {
        NavigationManager.NavigateTo("/Warehouse/Index");
    }

    private async Task Create()
    {

        if (warehouse.Id == 0)
            await Http.PostAsJsonAsync<WarehouseInfo>("api/warehouse/save", warehouse);
        else
            await Http.PutAsJsonAsync<WarehouseInfo>("api/warehouse/update", warehouse);

        NavigationManager.NavigateTo("/Warehouse/Index");
    }
}
