@inherits LayoutComponentBase
@using InventoryControl.Client.Services
@inject IAuthenticationService AuthenticationService

@if (AuthenticationService.User != null)
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <a style="text-underline-position:below; cursor:pointer; color:blue" @onclick="OnLogout">Logout</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
}
else
{
<div class="container">
    @Body
</div>
}

@code {

    void OnLogout()
    {
        AuthenticationService.Logout();
    }
}